<footer>
    <div class="container">
        <p>&copy; <span id="current-year">2025</span> Noswad. All Rights Reserved.</p>
        <div class="social-links">
            <a href="https://github.com/TheNoswad/" aria-label="GitHub"><i class="icon-github"></i></a>
            <a href="https://www.linkedin.com/in/noswad/" aria-label="LinkedIn"><i class="icon-linkedin"></i></a>
            <a href="https://discord.com/users/noswad" aria-label="Discord"><i class="icon-discord"></i></a>
        </div>
    </div>
</footer>
